doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/biddle.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800italic,800')
    link(rel='stylesheet', href='/stylesheets/Token/token-input-facebook.css')
    script(src="/javascripts/lib/jquery-1.11.0.js")
    script(src="/javascripts/lib/angular.min.js") 
    script(src="/javascripts/js/newproject.js") 
    script(src="/javascripts/js/search.js")    
    script(src="/javascripts/autocomplete/developerautocomplete.js")
    script(src="/javascripts/autocomplete/keywordsautocomplete.js")
    script(src="/javascripts/autocomplete/searchaotocomplete.js")
    script(src="/javascripts/lib/Token/jquery.tokeninput.js")
  body
    block content